<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <h1>Reservation data</h1>
    <table class="admin__table">
      <thead class="admin__subtitle">
        <tr>
          <th class="admin__description">RESERVATION_ID</th>
          <th class="admin__description">Name</th>
          <th class="admin__description">Phone</th>
          <th class="admin__description">Persons</th>
          <th class="admin__description">Date</th>
          <th class="admin__description">Restaurant</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="admin__description"></td>
          <td class="admin__description"></td>
          <td class="admin__description"></td>
          <td class="admin__description"></td>
          <td class="admin__description"></td>
          <td class="admin__description"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
