<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIMIHO</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="/images/favicon.ico" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://cdn.jsdelivr.net/npm/notiflix@3.2.6/dist/notiflix-3.2.6.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header_container container">
        <nav class="header_navigation">
          <a href="/" class="header-logo link">Mimiho</a>
          <div class="header-nav-wrap">
            <ul class="header-list list">
              <li class="header-list-item">
                <a href="/restaurant" class="rest-header-link link">Ресторан</a>
              </li>
              <li class="header-list-item header-phone-wrap">
                <a href="tel: 0955559533" class="link"
                  ><svg class="header-icon-phone" width="24px" height="24px">
                    <use href="/images/icons.svg#icon-phone"></use></svg
                ></a>
                <a href="tel:0955559533" class="phone-num-link rest-phone-num link">095 555 95 33</a>
              </li>
            </ul>
            <ul class="header-soc-wrap list">
              <li class="header-soc-item">
                <a
                  href="#"
                  target="_blank"
                  rel="noonepener noreferrer nofollow"
                  class="header-soc-links link"
                  ><svg class="header-icon-phone" width="22px" height="22px">
                    <use href="/images/icons.svg#icon-instagram"></use></svg
                ></a>
              </li>
              <li class="header-soc-item list">
                <a
                  href="#"
                  target="_blank"
                  rel="noonepener noreferrer nofollow"
                  class="header-soc-links link"
                  ><svg class="header-icon-phone" width="22px" height="22px">
                    <use href="/images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="header-soc-item list">
                <a
                  href="#"
                  target="_blank"
                  rel="noonepener noreferrer nofollow"
                  class="header-soc-links link"
                  ><svg class="header-icon-phone" width="22px" height="22px">
                    <use href="/images/icons.svg#icon-telegram"></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="header-adress-wrap">
          <a
            href="https://goo.gl/maps/LaFmuFMGUwHTDL4Q6"
            rel="noonepener noreferrer nofollow"
            class="header_adress link"
            ><svg class="header-icon-check" width="20px" height="20px">
              <use href="/images/icons.svg#icon-location"></use>
            </svg>
            Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15</a>
        </div>
      </div>
    </header>
    <main>
      <section class="rest-hero container">
        <h1 class="rest-hero__title animate__animated animate__fadeIn">
          Mimiho
        </h1>
        <h2 class="rest-hero__undertitile">Ресторан</h2>
        <p class="rest-hero__text">смак життя 24/7</p>
        <div class="tablet-wrap">
          <div class="btn-wrap">
            <button
              class="btn-light rest-hero__btn"
              type="button"
              data-modal-book-table-open>
              Забронювати столик
            </button>
          </div>
        </div>
        <ul class="rest-hero__list list">
          <li class="rest-hero__item">
            <a
              class="rest-hero__link"
              href="#"
              target="_blank"
              rel="noonepener noreferrer nofollow"
              ><svg class="hero__icon" width="22" height="22">
                <use href="/images/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="rest-hero__item">
            <a
              class="rest-hero__link"
              href="#"
              target="_blank"
              rel="noonepener noreferrer nofollow"
              ><svg class="hero__icon" width="22" height="22">
                <use href="/images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="rest-hero__item">
            <a
              class="rest-hero__link"
              href="#"
              target="_blank"
              rel="noonepener noreferrer nofollow"
              ><svg class="hero__icon" width="24" height="24">
                <use href="/images/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
        </ul>
      </section>

      <section class="section-about-kitchen">
        <div class="container">
          <h2 hidden class="visually-hidden">About our kitchen</h2>
          <p class="about-kitchen-pre-tittle">Amet minim mollit non</p>
          <h2 class="about-kitchen-logo">MIMIHO</h2>
          <div class="about-kitchen-content">
            <p class="about-kitchen-information">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>

            <picture class="about-kitchen-photo" width="460" height="322">
              <source
                srcset="/images/restaurant-kitchen.jpg 1x"
                media="(min-width: 1280px)" />

              <img
                src="/images/restaurant-kitchen-mob.jpg"
                alt="restaurant-kitchen"
                class="about-kitchen-food" />
            </picture>
          </div>
          <div class="about-kitchen-content tables">
            <picture class="about-kitchen-photo" width="460" height="278">
              <source
                srcset="/images/meat.jpg 1x"
                media="(min-width: 1280px)" />

              <img
                src="/images/meat-mob.jpg"
                alt="meat"
                class="about-kitchen-tables" />
            </picture>
            <p class="about-kitchen-information information">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </section>
      <section class="menu">
        <div class="menu__container container">
          <h2 class="menu__title">Меню ресторану</h2>
          <div class="menu__block">
            <table class="menu__table">
              <tbody>
                <tr>
                  <td class="menu__subtitle" colspan="3">Гарячі страви</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">
                    Борщ з телятини з квасолею
                  </td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Телятина, картопля, капуста, морква, цибуля, квасоля,
                    часник, помідори, зелень, сметана
                  </td>
                  <td class="menu__volume">400 г</td>
                  <td class="menu__price">240 грн</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">Суп сирний з куркою</td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Курятина, картопля, морква, цибуля, печериці, сир м’який,
                    зелень
                  </td>
                  <td class="menu__volume">400 г</td>
                  <td class="menu__price">200 грн</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">Паста карбонара</td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                  </td>
                  <td class="menu__volume">350 г</td>
                  <td class="menu__price">430 грн</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">Стейк зі свинини</td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                    овочами
                  </td>
                  <td class="menu__volume">400 г</td>
                  <td class="menu__price">500 грн</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">
                    Горбуша в соусі з білого вина
                  </td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Ніжна горбуша, вершковий соус на основі білого вина
                  </td>
                  <td class="menu__volume">400 г</td>
                  <td class="menu__price">400 грн</td>
                </tr>
                <tr>
                  <td class="menu__subtitle" colspan="3">Гарніри та закуски</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">Запечені овочі</td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Кабачок, перець, помідор, баклажан
                  </td>
                  <td class="menu__volume">200 г</td>
                  <td class="menu__price">230 грн</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">Картопля фрі</td>
                </tr>
                <tr>
                  <td class="menu__description">Картопля, соус томатний</td>
                  <td class="menu__volume">150 г</td>
                  <td class="menu__price">160 грн</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">
                    Картопля по-селянськи
                  </td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Картопля, спеції, соус пікантний
                  </td>
                  <td class="menu__volume">150 г</td>
                  <td class="menu__price">160 грн</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">
                    Хрумкі соління з бочки
                  </td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Огірок солений, помідор квашений, квашена капуста, морква
                    по-корейські
                  </td>
                  <td class="menu__volume">250 г</td>
                  <td class="menu__price">350 грн</td>
                </tr>
                <tr>
                  <td class="menu__dishes" colspan="3">
                    Крильця курячі в медовому соусі
                  </td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Крильця курячі, гірчично-медовий соус, подається з морквою,
                    селерою і соусом блючиз
                  </td>
                  <td class="menu__volume">400 г</td>
                  <td class="menu__price">420 грн</td>
                </tr>
              </tbody>
            </table>
            <table class="menu__table">
              <tbody>
                <tr>
                  <td class="menu__subtitle" colspan="3">Салати</td>
                </tr>
                <tr>
                  <td class="menu__drinks" colspan="3">Цезар з куркою</td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Куряче філе, листя салату, помідори чері, сир пармезан,
                    грінки, соус цезар
                  </td>
                  <td class="menu__volume">230 г</td>
                  <td class="menu__price">450 грн</td>
                </tr>
                <tr>
                  <td class="menu__drinks" colspan="3">Цезар з креветками</td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Тигрові креветки, листя салату, помідори чері, сир пармезан,
                    грінки, соус цезар
                  </td>
                  <td class="menu__volume">230 г</td>
                  <td class="menu__price">300 грн</td>
                </tr>
                <tr>
                  <td class="menu__drinks" colspan="3">Грецький салат</td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Свіжі огірок, помідор, болгарський перець, оливки, сир
                    бринза, листя салату, соус
                  </td>
                  <td class="menu__volume">230 г</td>
                  <td class="menu__price">280 грн</td>
                </tr>
                <tr>
                  <td class="menu__drinks" colspan="3">М’ясний салат</td>
                </tr>
                <tr>
                  <td class="menu__description">
                    Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                    болгарський перець, соус ранч
                  </td>
                  <td class="menu__volume">230 г</td>
                  <td class="menu__price">300 грн</td>
                </tr>

                <tr>
                  <td class="menu__subtitle" colspan="3">Десерти</td>
                </tr>
                <tr>
                  <td class="menu__drinks">Торт наполеон</td>
                  <td class="menu__volume">230 г</td>
                  <td class="menu__price">300 грн</td>
                </tr>
                <tr>
                  <td class="menu__drinks">Торт маковий</td>
                  <td class="menu__volume">230 г</td>
                  <td class="menu__price">300 грн</td>
                </tr>
                <tr>
                  <td class="menu__drinks">Тірамісу</td>
                  <td class="menu__volume">120 г</td>
                  <td class="menu__price">260 грн</td>
                </tr>

                <tr>
                  <td class="menu__subtitle" colspan="3">Напої</td>
                </tr>
                <tr>
                  <td class="menu__drinks">Чай чорний/зелений</td>
                  <td class="menu__volume">500 мл</td>
                  <td class="menu__price">100 грн</td>
                </tr>
                <tr>
                  <td class="menu__drinks">Еспресо</td>
                  <td class="menu__volume">30 мл</td>
                  <td class="menu__price">100 грн</td>
                </tr>
                <tr>
                  <td class="menu__drinks">Американо</td>
                  <td class="menu__volume">150 мл</td>
                  <td class="menu__price">100 грн</td>
                </tr>
                <tr>
                  <td class="menu__drinks">Капучино</td>
                  <td class="menu__volume">200 мл</td>
                  <td class="menu__price">160 грн</td>
                </tr>
                <tr>
                  <td class="menu__drinks">Лате</td>
                  <td class="menu__volume">200 мл</td>
                  <td class="menu__price">160 грн</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="menu__block-btn">
            <button class="menu__btn" type="button" data-modal-book-table-open-2>
              Забронювати столик
            </button>
          </div>
        </div>
      </section>

      <!-------  table-modal ------->
      <div class="backdrop is-hidden" data-modal-book-table>
        <!--is-hidden -->
        <div class="modal">
          <button class="modal-close" type="button" data-modal-book-table-close>
            <!-- modal-close -->
            <svg class="modal-close-icon" width="24" height="24">
              <use href="./images/icon-defs.svg#icon-close-btn"></use>
            </svg>
          </button>
          <p class="modal-title">ЗАБРОНЮВАТИ СТОЛИК</p>
          <form id="reservation-form">
            <div class="line-box">
              <div class="box">
                <div class="modal-field">
                  <label for="user-name" class="input-label">
                    <div class="input-wrap">
                      <input
                        type="text"
                        name="user-name"
                        class="modal-input"
                        placeholder="Ваше ім’я"
                        maxlength="20"
                        required
                        id="user-name"
                        tabindex="1"
                      />
                    </div>
                    <span>На кого забронювати столик?</span>
                  </label>
                </div>
                <div class="modal-field">
                  <label for="user-phone" class="input-label">
                    <div class="input-wrap">
                      <input
                        type="tel"
                        name="user-phone"
                        class="modal-input"
                        placeholder="+38 (___) ___-__-__"
                        maxlength="15"
                        pattern="^[+?\d+]+"
                        required
                        id="user-phone"
                        tabindex="3" />
                    </div>
                    <span>Номер телефону</span>
                  </label>
                </div>
              </div>

              <div class="box">
                <div class="modal-field">
                  <label for="user-number" class="input-label">
                    <div class="input-wrap">
                      <input
                        type="number"
                        name="user-number"
                        class="modal-input"
                        placeholder="0"
                        maxlength="10"
                        required
                        id="user-number"
                        tabindex="2" />
                      <svg
                        class="modal-input-icon"
                        width="24"
                        height="24"></svg>
                    </div>
                    <span>Столик на яку кількість осіб?</span>
                  </label>
                </div>
                <div class="modal-field">
                  <label for="which-day" class="input-label">
                    <div class="input-wrap">
                      <select
                        type="number"
                        class="lable__input-count--table"
                        id="which-day"
                        tabindex="4"
                        reqired>
                        <option value="today" selected>Сьогодні</option>
                        <option value="tomorrow">Завтра</option>
                        <option value="day_after_tomorrow">Післязавтра</option>
                      </select>
                    </div>
                    <span>На яку дату бронювати?</span>
                  </label>
                  <label for="restaurant-id" class="input-label">
                    <div class="input-wrap">
                      <select type="number" class="lable__input-count--table" id="restaurant-id" tabindex="5" reqired>
                        <th:block th:each="restaurant : ${restaurants}">
                          <option th:value="${restaurant.id}" th:text="${restaurant.name}"></option>
                        </th:block>
                      </select>
                    </div>
                    <span>Виберіть ресторан?</span>
                  </label>
                </div>
              </div>
            </div>

            <button class="button-send" id="button-send" type="button" tabindex="6">
              ОФОРМИТИ БРОНЮВАННЯ
            </button>
          </form>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-container container">
        <a href="/" class="logo-link link"><p class="logo">MIMIHO</p></a>
        <div class="footer-wrap">
          <ul class="nav-footer-list list">
            <li><a href="/" class="menu-link link">Головна</a></li>
            <li>
              <a href="/restaurant" class="menu-link link">Ресторан</a>
            </li>

            -->
          </ul>
          <ul class="soc-list list">
            <li class="soc-item">
              <a
                href=""
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="soc-link link">
                <p class="soc-text">Telegram</p>
                <svg class="soc-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-telegram"></use></svg
              ></a>
            </li>
            <li class="soc-item">
              <a
                href=""
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="soc-link link">
                <p class="soc-text">Facebook</p>
                <svg class="soc-icon" width="24" height="24">
                  <use href="/images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="soc-item">
              <a
                href=""
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="soc-link link">
                <p class="soc-text">Instagram</p>
                <svg class="soc-icon" width="24" height="24">
                  <use href="/images/icons.svg#icon-instagram"></use></svg></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/notiflix@3.2.6/dist/notiflix-aio-3.2.6.min.js"></script>
    <script src="/js/modal-book-table.js"></script>
    <script src="/js/reserve.js"></script>
  </body>
</html>
